@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    background: url(img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: left;
    justify-content: center;
}
.Ruhuna{
    position: relative;
    height: 20%;
    padding: 20px;
    padding-top: 40px;;
    font-size: 20px;
    color: #008080;
    font-style: italic;
    font-weight: 100;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 3px solid rgb(88, 33, 33);
    border-radius: 60px;
    box-sizing: 80% ;
    text-align: right;  
}
.wheather-display{
    display: flex;
}
.side{
    width: 50%;
    padding: 100px;
}
.wheather-display .side .search{
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.search-form{
    border-right: 2px solid #2f408a;
    border-radius: 40px;
}
.search-form input{
    background: none;
    outline: none;
    width: 80%;
    border-radius: 20px;
    height: 40px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    font-size: 18px;
    color: lightcyan;
    text-align: center;
}
.search-form input::placeholder{
    color: rgb(185, 187, 184);
    text-align: center;
}
.search-form input::placeholder:hover{
    font-size: 20px;
}
.search-form input i{
    width: 5px;
    float: center;
    position: absolute;
    
}
.btn{
    height: 50px;
    width: 150px;
    margin-top: 100px;
    margin-left: 500px;
    background: none;
    font-size: 20px;
    color: cyan;
    border-radius: 20px;
    
}
.btn:hover{
    /* height: 70px;
    width: 220px; */
    transform: scale(1.1);
    font-size: 25px;
    color:gold;
    transition: all 0.5s ease;
}